<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="120"
    android:versionName="1.2.0">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- <uses-permission android:name="android.permission.BLUETOOTH" /> -->
    <!-- <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_LOGS" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT" />



    <application
        android:icon="@drawable/app_icon"
        android:label="GlassConnect"
        android:supportsRtl="true"
        android:allowBackup="false"
        android:theme="@style/KdeConnectTheme"
        android:name="com.cato.kdeconnect.MyApplication">

        <receiver
            android:name="com.android.mms.transaction.PushReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />

                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.android.mms.transaction.TransactionService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name="com.cato.kdeconnect.BackgroundService"
            android:foregroundServiceType="connectedDevice"
            android:icon="@drawable/icon"
            android:enabled="true" />
        <service
            android:name="com.cato.kdeconnect.LiveCardService"
            android:foregroundServiceType="connectedDevice"
            android:icon="@drawable/icon"
            android:enabled="true" />

        <activity
            android:name="com.cato.kdeconnect.UserInterface.MainActivity"
            android:exported="true"
            android:theme="@style/KdeConnectTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voice_trigger_start" />
        </activity>
        <activity
            android:name=".UserInterface.MediaActivity"
            android:label="Media Menu"
            android:exported="true"
            android:theme="@style/MenuTheme"/>
        <activity
            android:name=".UserInterface.CardNotiActivity"
            android:label="Notification Menu"
            android:exported="true"
            android:theme="@style/MenuTheme"/>
        <activity
            android:name=".UserInterface.NotificationActivity"
            android:label="Notifications"
            android:exported="true"
            android:theme="@style/KdeConnectTheme"/>
        <activity
            android:name=".Plugins.MousePadPlugin.MousePadActivity"
            android:label="Mouse Pad"
            android:exported="true"
            android:theme="@style/KdeConnectTheme"/>
        <activity
            android:name="com.cato.kdeconnect.UserInterface.PluginSettingsActivity"
            android:label="@string/device_menu_plugins"
            android:exported="false"
            android:parentActivityName="com.cato.kdeconnect.UserInterface.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cato.kdeconnect.UserInterface.MainActivity" />
        </activity>
        <activity
            android:name="com.cato.kdeconnect.UserInterface.CustomDevicesActivity"
            android:label="@string/custom_devices_settings"
            android:exported="false"
            android:parentActivityName="com.cato.kdeconnect.UserInterface.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cato.kdeconnect.UserInterface.MainActivity" />
        </activity>

        <receiver android:name="com.cato.kdeconnect.KdeConnectBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data
                    android:host="kdeconnect"
                    android:path="/"
                    android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.cato.kdeconnect.Plugins.FindMyPhonePlugin.FindMyPhoneActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/findmyphone_title"
            android:launchMode="singleInstance" />

        <receiver android:name="com.cato.kdeconnect.Plugins.FindMyPhonePlugin.FindMyPhoneReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.cato.kdeconnect.Plugins.FindMyPhonePlugin.foundIt" />
            </intent-filter>
        </receiver>

        <!-- Plugin-related activities and services -->


        <activity
            android:name="com.cato.kdeconnect.Plugins.MprisPlugin.MprisActivity"
            android:label="@string/open_mpris_controls"
            android:launchMode="singleTop"
            android:theme="@style/KdeConnectTheme"
            android:parentActivityName="com.cato.kdeconnect.UserInterface.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cato.kdeconnect.UserInterface.MainActivity" />
        </activity>

        <receiver android:name="com.cato.kdeconnect.Plugins.MprisPlugin.MprisMediaNotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>


        <receiver android:name="com.cato.kdeconnect.Plugins.SharePlugin.ShareBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.cato.kdeconnect.Plugins.SharePlugin.CancelShare" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.cato.kdeconnect.Plugins.SharePlugin.SendFileActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="Share file"
            android:launchMode="singleInstance" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.cato.kdeconnect.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider_paths" />
        </provider>

        <service
            android:name="com.cato.kdeconnect.Plugins.NotificationsPlugin.NotificationReceiver"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name="com.cato.kdeconnect.Plugins.SharePlugin.ShareChooserTargetService"
            android:exported="true"
            android:permission="android.permission.BIND_CHOOSER_TARGET_SERVICE">
            <intent-filter>
                <action android:name="android.service.chooser.ChooserTargetService" />
            </intent-filter>
        </service>

        <activity
            android:name="com.cato.kdeconnect.Plugins.NotificationsPlugin.NotificationFilterActivity"
            android:label="@string/title_activity_notification_filter"
            android:parentActivityName="com.cato.kdeconnect.UserInterface.PluginSettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cato.kdeconnect.UserInterface.PluginSettingsActivity" />
        </activity>

        <activity android:name="com.cato.kdeconnect.Plugins.PhotoPlugin.PhotoActivity" />
    </application>

</manifest>
